<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>

  <form action="/auth/registration" method="post" th:object="${registrationUserDto}">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" th:field="*{username}" required>
    <span th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></span><br>

    <label for="email">email:</label>
    <input type="text" id="email" name="email" th:field="*{email}" required>
    <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span><br>

    <label for="password">password:</label>
    <input type="text" id="password" name="password" th:field="*{password}" required>
    <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span><br>

    <label for="confirmPassword">Confirm Password:</label>
    <input type="password" id="confirmPassword" name="confirmPassword" th:field="*{confirmPassword}" required>
    <span th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}"></span><br>

    <button type="submit">Create</button>
  </form>
</body>
</html>
